  
<div class="container booking-form">
    <div class="card">
      <h4><strong>$<%= @planet.price %></strong> /night</h4>
      <%= simple_form_for [@planet, @booking] do |f| %>
        <%= f.input :price, as: :hidden, input_html: {value: @planet.price } %>
        <%= f.input :check_in_date, as: :string, label: false, placeholder: 'Check in', input_html: {class: "datepicker", :onchange => "handleBookingFormChange(event)"} %>
        <%= f.input :check_out_date, as: :string, label: false, placeholder: 'Check out', input_html: {class: "datepicker", :onchange => "handleBookingFormChange(event)"} %>
        <%= f.input :number_of_guests, label: false, placeholder: 'Space Travellers', class: "w-100", input_html: {:onchange => "handleBookingFormChange(event)"} %>
        <span>Total</span>
        <span class="total"></span>
        <%= f.button :button, "Book now", class: "button w-100" %>
        <div><%= f.button :button, "Contact Host", class: "w-100" %></div>
      <% end %>
</div>
