<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="bg-white rounded p-3 shadow confirmation mt-3 mb-3">
        <h3 class= "mb-4">Complete your booking</h3>
        <%= simple_form_for [@planet, @booking] do |f| %>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.input :first_name, label: false, placeholder: 'First Name' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.input :last_name, label: false, placeholder: 'Last Name' %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <%= f.input :email, label: false, placeholder: 'Email Address' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.input :phone_number, label: false, placeholder: 'Phone Number' %>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-lg-9">
              <%= f.input :credit_card, label: false, placeholder: 'Credit Card' %>
            </div>
            <div class="form-group col-md-3">
              <%= f.input :credit_card_expiration_date, label: false, placeholder: 'MM/YY' %>
            </div>
          </div>
          <%= f.input :message, as: :text, label: "Message Your Host (optional)", placeholder: "Give a brief description of yourself, who you are travelling with, or any special requests you may have.",  :input_html => { :cols => 5, :rows => 8 } %>

           <p><small><em class="text-muted">By clicking <strong>'Confirm'</strong> you are agreeing to our Terms & Conditions, Privacy Policy, and to received booking-related messages.</em></small></p>
           <%= f.button :button, "Confirm", class: "button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>