<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Complete your booking</h3>

 <%= simple_form_for [@booking.planet, @booking] do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
    <label for="inputLastName"></label>
      <%= f.input :first_name, placeholder: 'First Name', label:false %>
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName"></label>
      <%= f.input :last_name, placeholder: 'Last Name', label:false %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail"></label>
      <%= f.input :email, placeholder: 'Email Address', label:false %>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPhone"></label>
      <%= f.input :phone_number, placeholder: 'Phone Number', label:false %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-lg-9">
      <label for="inputPayment"></label>
      <%= f.input :credit_card, placeholder: 'Credit Card', label:false %>
    </div>
    <div class="form-group col-md-3">
      <label for="inputExpiration"></label>
      <%= f.input :credit_card, placeholder: 'MM/YY', label:false %>
    </div>
  </div>
  <div class="form-group">
    <label for="inputMessage">Message Your Host (optional)</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Give a brief description of yourself, who you are travelling with, or any special requests you may have."></textarea>
  </div>
  <p>By clicking 'Confirm' you are agreeing to our Terms & Conditions, Privacy Policy, and to received booking-related messages.</p>
  <%= f.button :button, "Confirm", class: "button" %>
  <% end %>
      </div>
    </div>
  </div>
</div>