<div class="cards">
    <div class="col">
          <div class="card-category-planets" >
          <%= cl_image_tag("zkoh2ddnvj524vpcoww4") %>
            <div class="card-planets-body">
              <h3 class="card-planet-title"><%= link_to "Planet Name", planet_path(6)%></h3>
              <h3 class="card-planet-price">$XX</h3>
              <div></div>
              <p class="card-planet-description">Description</p>
              </div>
            </div>
          </div>
           <div class="col">
          <div class="card-category-planets" >
          <%= cl_image_tag("rwbibpbxxszuqforskcu.jpg") %>
            <div class="card-planets-body">
              <h3 class="card-planet-title"><%= link_to "Planet Name", planet_path(6)%></h3>

              <h3 class="card-planet-price">$XX</h3>
              <div></div>
              <p class="card-planet-description">Description</p>
              </div>
            </div>
          </div>
           <div class="col">
          <div class="card-category-planets" >
          <%= cl_image_tag("agyy55i31hpsqwmkb775") %>

            <div class="card-planets-body">
              <h3 class="card-planet-title"><%= link_to "Planet Name", planet_path(6)%></h3>
              <h3 class="card-planet-price">$XX</h3>
              <div></div>
              <p class="card-planet-description">Description</p>
              </div>
            </div>

          </div>

          

            
        </div>
      </div>
      </div>
</div>
      <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    © Pianeta, Inc.
  </div>
</div>