<div class="container py-5">
  
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="bg-white rounded p-3 shadow">
        <h1>List your property</h1>
        
          <%= simple_form_for @planet do |f| %>
            <%= f.input :title, label: false, placeholder: 'Name your listing (planet name)'%>
            <%= f.input :name_of_inhabitants, label: false, placeholder: 'Host name (filled from profile)' %>
            
          
          <%= f.input :price, label: false, placeholder: "Pricing $"  %>
          <%= f.input :description, placeholder: "Accomodation, activites, atmosphere, climate etc.", class: "pt-8"  %>
          
        
        <%= f.input :photos, as: :file, input_html: { multiple: true }, hint: "Please upload at least 4 photos" %>
         <p>By clicking 'Publish' you are agreeing to our Terms & Conditions, Privacy Policy, and to received booking-related messages.</p>
        <%= f.button :button, "Publish", class: "button" %>
        <% end %>
      </div>
    </div> 
  
  </div>
</div>
