<div class="topnav">
  <a class="active" href="#home">Pianeta</a>
</div>

<h1>List your property</h1>


<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 flex-grow-1">
      <div class="bg-white rounded p-3 shadow">
<div>
<%= simple_form_for @planet do |f| %>
  <%= f.input :title, label: false, placeholder: 'Name your listing (planet name)'%>
  <div class = "input-group">
  <%= f.input :name_of_inhabitants, label: false, placeholder: 'Host name (filled from profile)' %>

  <%= f.input :price, label: false, placeholder: "Pricing $"  %>
  </div>
  <%= f.input :title, label: false, placeholder: 'Upload image' %>
  <button type="button">Browse</button>

  <%= f.input :name_of_space_station %>

  <%= f.input :population_density %>
  <%= f.input :climate %>

</div>
  <select class="drop-down" name="Availablity">
  <option value="Availablity">Availablity</option>
    ...
  <option value="Dates">Insert dates</option>
</select>
</div>

<p>By clicking 'Publish' you are agreeing to our Terms & Conditions, Privacy Policy, and to received booking-related messages.</p>
<button type="button">Publish</button>


<% end %>
</div>
