<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="bg-white rounded p-3 shadow confirmation mt-3 mb-3">
        <h1>List your property</h1>
        
          <%= simple_form_for @planet do |f| %>
          <div class="form-row">
            <div class="form-group col-md-6">
            <%= f.input :title, label: false, placeholder: 'Planet Name'%>
            </div>
            <div class="form-group col-md-6">
            <%= f.input :host_name, label: false, placeholder: 'Host Name' %>
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
            <%= f.input :name_of_inhabitants, label: false, placeholder: "Name of Inhabitants"  %>
            </div>
            <div class="form-group col-md-6">
            <%= f.input :name_of_space_station, label: false, placeholder: "Name of Space Station"  %>
            </div>
            </div>
            <div class="form-row">
            <div class="form-group col-md-6">
            <%= f.input :name_of_galaxy, label: false, placeholder: "Name of Galaxy"  %>
            </div>
            <div class="form-group col-md-6">
            <%= f.input :price, label: false, placeholder: "Pricing $"  %>
            </div>
            </div>
            <%= f.input :description, as: :text, label: "Description", placeholder: "Accomodation, activites, atmosphere, climate etc.",  :input_html => { :cols => 3, :rows => 5} %>
          
        
        <%= f.input :photos, as: :file, input_html: { multiple: true }, hint: "Please upload 5 photos" %>
         <p class="text-muted">By clicking 
         <strong>'Publish'  </strong> 
          you are agreeing to our Terms & Conditions, Privacy Policy, and to received booking-related messages.
         </p>
        <%= f.button :button, "Publish", class: "button" %>
        <% end %>
      </div>
    </div> 
  
  </div>
</div>
