
  <div class="container p-5">
    <div class="d-flex justify-content-center">
      <%= cl_image_tag @planet.photos[0]&.key, class: "cover-picture"  %>
      <div class="gallery">
        <%= cl_image_tag @planet.photos[1]&.key, class: "top-middle-picture"  %>
        <%= cl_image_tag @planet.photos[2]&.key, class: "bottom-middle-picture"  %>
      </div>
      <div class="gallery">
        <%= cl_image_tag @planet.photos[3]&.key, class: "top-outer-picture"  %>
        <%= cl_image_tag @planet.photos[4]&.key, class: "bottom-outer-picture"  %>
      </div>
    </div>
    <div class="row d-flex m-3 justify-content-around">
      <div class="col-md-8 flex-grow-1">
        <div class="header">
          <div class="header-content">
            <b>
              <h3><%= @planet.title %></h3>
            </b>
            <p><i class="fab fa-reddit-alien"></i> Inhabitants: <%=@planet.name_of_inhabitants  %> <i class="fas fa-rocket ml-3"></i> Space Station: <%= @planet.name_of_space_station %></p>
            <p><i class="fas fa-star"></i> Galaxy: <%= @planet.name_of_galaxy %></p>
          </div>
          <div class="header-avatar">
            <%= cl_image_tag("wxaoh8vb1ekhhuhkkwbd", class: "avatar") %>
            <p> <small><em class="text-muted">Hosted by <br>
                  <%= @planet.host_name %></em></small></p>
          </div>
        </div>
        <hr>
        <p>Description:</p>
        <p><%= @planet.description %></p>
      </div>
      <div class="col-md-4 p-0">
        <%= render "bookings/form", booking: @booking %>
      </div>
    </div>
  </div>
